* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Bangers", cursive;
}

body {
  background-image: url(./images/background.png);
  min-height: 100vh;
}

.borders {
  background: #fff;
  border: solid black;
  border-color: black;
}

.main-page-menu {
  height: 95vh;
  width: 90vw;
  margin: 0;
  padding: 8px;
  margin-top: 16px;
  margin-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #1f1235;
  background-color: #f4effc;
  border-width: 3px 4px 3px 5px;
  border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

.main-page-menu #heading,
.main-page-menu div {
  width: 90%;
  text-align: center;
  margin: 8px;
}

.main-page-menu #heading {
  height: 25%;
  padding: 8px;
  margin-bottom: 8px;
  font-size: 26px;
}

.main-page-menu .socials {
  margin-top: 0;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main-page-menu .socials .links {
  font-size: 25px;
}

.main-page-menu .intro {
  background-image: url("./images/hi.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 80%;
}

.main-page-menu .intro:hover {
  background-image: url("./images/hello.jpg");
}

.main-page-menu .intro h2 {
  font-size: 32px;
  margin: 8px;
  text-align: start;
}

.main-page-menu .intro p {
  font-size: 30px;
  margin: 8px;
  text-align: start;
}

.main-page-menu .nav-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 20px;
  margin-top: 0;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

.links {
  padding: 4px;
  color: #1f1235;
  text-decoration: none;
}

.links:active {
  text-shadow: 2px 2px #a58cd1;
}

#nav-bar,
.intro {
  border: 2px solid #000000;
  text-align: start;
  border-width: 3px 3px 5px 5px;
  border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

#blog-page,
#portfolio-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

@media only screen and (min-width: 768px) {
  .main-page-menu {
    width: 95vw;
  }
  .main-page-menu h1,
  .main-page-menu .socials {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  .main-page-menu .intro h2,
  .main-page-menu .intro p {
    margin-left: 24px;
    letter-spacing: 0.1rem;
  }
  .main-page-menu .nav-buttons {
    padding: 8px;
    font-size: 28px;
  }
}

@media only screen and (min-width: 1024px) {
  .main-page-menu .socials {
    margin-left: 24px;
  }
}

@media only screen and (min-width: 1100px) {
  .main-page-menu h1 {
    font-size: 50px;
  }
  .main-page-menu .socials .links {
    font-size: 38px;
  }
  .main-page-menu .intro h2 {
    font-size: 48px;
    margin-left: 48px;
    letter-spacing: 0.1em;
  }
  .main-page-menu .intro p {
    font-size: 35px;
    margin: 32px;
  }
  .main-page-menu .nav-buttons {
    font-size: 28px;
    margin: 24px;
  }
}

.side-bar {
  position: fixed;
  top: 0;
  left: -25vw;
  opacity: 0.4;
  background-color: #8963BA;
  height: 100vh;
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #1f1235;
  border-width: 5px 3px 3px 5px;
  border-radius: 95% 94% 97% 5%/0% 7% 6% 5%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 10;
}

.side-bar:hover {
  background-color: #8963BA;
  opacity: 1;
  left: 0vw;
}

.side-bar #heading {
  background-image: url("./images/cartoon-boom.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  height: 20vh;
  width: 28vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.side-bar #heading h1 {
  padding: 8px;
  margin-left: 8px;
  font-size: 28px;
}

.side-bar a {
  font-size: 24px;
  text-align: center;
  color: #1f1235;
}

.side-bar h2 {
  text-align: center;
}

.side-bar .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 20px;
  height: 55%;
  width: 95%;
  color: #1f1235;
  border-radius: 5px;
  background-color: #f4effc;
}

.side-bar .socials:visited {
  color: #1f1235;
}

.side-bar .socials a {
  font-size: 22px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.side-bar .socials a:hover {
  border-width: 3px 3px 5px 5px;
  border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  border: 2px solid #000000;
}

.side-bar .socials a span {
  border-width: 3px 4px 3px 5px;
  border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  border: 2px solid #000000;
}

.side-bar .socials div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 3px;
  text-align: center;
  background-color: #f4effc;
}

.side-bar .socials div a {
  font-size: 22px;
  margin: 3px;
  border: none;
}

@media only screen and (min-width: 425px) {
  .side-bar #heading h1 {
    font-size: 32px;
  }
  .side-bar h2 {
    font-size: 32px;
  }
  .side-bar .socials a {
    font-size: 28px;
  }
  .side-bar .socials div a {
    font-size: 32px;
  }
}

@media only screen and (min-width: 725px) {
  .side-bar {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    -webkit-transition: 0;
    transition: 0;
    z-index: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .side-bar {
    width: 20vw;
  }
  .side-bar #heading {
    width: 20vw;
    height: 22vh;
  }
  .side-bar #heading h1 {
    font-size: 38px;
    margin-left: 16px;
  }
}

#about-me {
  height: 100vh;
  width: 100vw;
  position: relative;
  text-align: center;
}

#about-me #facts {
  margin: 0 auto;
  height: 90%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#about-me #facts h2 {
  color: rgba(247, 247, 247, 0.863);
  padding: 8px;
  font-size: 30px;
  margin-top: 24px;
  letter-spacing: 0.03em;
}

#about-me #facts .paper {
  background: #fff;
  padding: 30px;
  position: relative;
  width: 90%;
  height: 50%;
  margin-left: 16px;
  margin-bottom: 24px;
}

#about-me #facts .paper,
#about-me #facts .paper::before,
#about-me #facts .paper::after {
  /* Styles to distinguish sheets from one another */
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid #bbb;
}

#about-me #facts .paper::before,
#about-me #facts .paper::after {
  content: "";
  position: absolute;
  height: 95%;
  width: 99%;
  background-color: #eee;
}

#about-me #facts .paper::before {
  right: 15px;
  top: 0;
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
  z-index: -1;
}

#about-me #facts .paper::after {
  top: 5px;
  right: -5px;
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
  z-index: -2;
}

#about-me #facts #fact {
  height: 30%;
  font-size: 26px;
  margin: 48px auto;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  color: #f5cb34;
}

#about-me #facts #watermark {
  color: rgba(0, 0, 0, 0.082);
  margin: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#about-me #facts #click {
  width: 45%;
  padding: 10px 15px;
  border-radius: 10px;
  border: 3px solid black;
  background: white;
  margin-left: 8px;
}

#about-me .peering {
  height: 30%;
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  border-top-left-radius: 90%;
  border: 2px solid black;
}

@media only screen and (min-width: 425px) {
  #about-me #facts #click {
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) {
  #about-me {
    width: 70vw;
    position: absolute;
    right: 0;
  }
}

@media only screen and (min-width: 1024px) {
  #about-me {
    width: 80vw;
    position: absolute;
    right: 0;
  }
  #about-me #facts h2 {
    font-size: 40px;
    margin: 24px auto;
  }
  #about-me #facts .paper {
    width: 80%;
    margin: auto;
    margin-bottom: 80px;
  }
  #about-me #facts #fact {
    width: 70%;
    font-size: 30px;
    margin: 80px;
  }
  #about-me #facts #click {
    width: 35%;
  }
  #about-me .peering {
    width: 30%;
  }
}

@media only screen and (min-width: 1100px) {
  #about-me #facts h2 {
    font-size: 48px;
  }
  #about-me #facts .paper {
    width: 75%;
    margin-bottom: 104px;
  }
  #about-me #facts #fact {
    width: 65%;
    font-size: 38px;
    margin: 104px;
  }
  #about-me #facts #click {
    font-size: 30px;
  }
  #about-me .peering {
    width: 25%;
  }
}

#bottom-half {
  margin: 8px auto;
}

#bottom-half #section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60vw;
}

#bottom-half #section1 .card {
  height: 30vh;
  width: 100%;
  margin-bottom: 8px;
  position: relative;
  background-color: black;
}

#bottom-half #section1 .card h2 {
  position: absolute;
  color: #f5cb34;
  top: 40%;
  text-shadow: 3px 2px black;
  margin-left: 8px;
  letter-spacing: 0.05em;
}

#bottom-half #section1 .card h2 a {
  color: #f5cb34;
}

#bottom-half #section1 .card h2 a :hover {
  font-size: 16px;
}

#bottom-half #section1 .card img {
  height: 100%;
  width: 100%;
  border-width: 3px 3px 5px 5px;
  border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  opacity: 70%;
  background-color: white;
}

#bottom-half #section1 .card img:focus {
  opacity: 100%;
}

#bottom-half #section1 p {
  color: white;
  margin-bottom: 8px;
}

@media only screen and (min-width: 425px) {
  #bottom-half {
    width: 70vw;
  }
  #bottom-half #section1 {
    height: auto;
    width: auto;
  }
  #bottom-half #section1 .card {
    margin: 4px;
    height: 30vh;
    width: 100%;
  }
}

@media only screen and (min-width: 425px) and (min-width: 768px) {
  #bottom-half {
    width: 65vw;
    position: absolute;
    right: 0;
  }
  #bottom-half #section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: auto;
    width: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #bottom-half #section1 p {
    display: none;
  }
  #bottom-half #section1 .card {
    height: 40vh;
    width: 45%;
  }
}

@media only screen and (min-width: 425px) and (min-width: 768px) {
  #bottom-half {
    width: 70vw;
    position: absolute;
    right: 0;
  }
  #bottom-half #section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #bottom-half #section1 p {
    display: none;
  }
  #bottom-half #section1 .card {
    height: 40vh;
    width: 45%;
  }
}

@media only screen and (min-width: 425px) and (min-width: 1024px) {
  #bottom-half {
    width: 80vw;
    position: absolute;
    right: 0;
  }
  #bottom-half #section1 {
    margin-top: 112px;
  }
  #bottom-half #section1 .card {
    height: 30vh;
    width: 30%;
    margin: 8px;
  }
}

@media only screen and (min-width: 425px) {
  #portfolio-page #section1 img {
    background-color: #b9b8b8;
  }
}
/*# sourceMappingURL=main.css.map */