@import "./variables.scss";
@import "./mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bangers", cursive;
}

body {
  background-image: url(./images/background.png);
  min-height: 100vh;
}

.borders {
  background: #fff;
  border: solid black;
  border-color: black;
}

.main-page-menu {
  height: 95vh;
  width: 90vw;
  margin: 0;
  padding: $standard-padding;
  margin-top: $standard-margin * 2;
  margin-left: $standard-margin * 2;
  @include flex-column;
  color: $brand-font-color;
  background-color: $nav-bar-background;
  @include even-border;

  #heading,
  div {
    width: 90%;
    text-align: center;
    margin: $standard-margin;
  }
  #heading {
    height: 25%;
    padding: $standard-padding;
    margin-bottom: $standard-margin;
    font-size: 26px;
  }
  .socials {
    margin-top: 0;
    height: 10%;
    @include flex-row;

    .links {
      font-size: 25px;
    }
  }

  .intro {
    background-image: url("./images/hi.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 80%;

    &:hover {
      background-image: url("./images/hello.jpg");
    }

    h2 {
      font-size: 32px;
      margin: $standard-margin;
      text-align: start;
    }

    p {
      font-size: $mobile-font * 1.5;
      margin: $standard-margin;
      text-align: start;
    }
  }

  .nav-buttons {
    @include flex-row;
    font-size: $mobile-font;
    margin-top: 0;
    transform: rotate(-2deg);
  }
}

.links {
  padding: 4px;
  color: $brand-font-color;
  text-decoration: none;

  &:active {
    text-shadow: $shadow;
  }
}

#nav-bar,
.intro {
  border: $basic-border;
  text-align: start;
  @include odd-border;
}

#blog-page,
#portfolio-page {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}

@media only screen and (min-width: 768px) {
  .main-page-menu {
    width: 95vw;

    h1,
    .socials {
      transform: rotate(-1deg);
    }

    .intro {
      h2,
      p {
        margin-left: $standard-margin * 3;
        letter-spacing: 0.1rem;
      }
    }

    .nav-buttons {
      padding: $standard-padding;
      font-size: 28px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .main-page-menu {
    .socials {
      margin-left: $standard-margin * 3;
    }
  }
}

@media only screen and (min-width: 1100px) {
  .main-page-menu {
    h1 {
      font-size: 50px;
    }

    .socials {
      .links {
        font-size: 38px;
      }
    }

    .intro {
      h2 {
        font-size: 48px;
        margin-left: $standard-margin * 6;
        letter-spacing: 0.1em;
      }

      p {
        font-size: 35px;
        margin: $standard-margin * 4;
      }
    }

    .nav-buttons {
      font-size: 28px;
      margin: $standard-margin * 3;
    }
  }
}

// ---> sidebar <---

.side-bar {
  position: fixed;
  top: 0;
  left: -25vw;
  opacity: 0.4;
  background-color: ($side-primary);
  height: 100vh;
  width: 30vw;
  @include flex-column;
  color: $brand-font-color;
  border-width: 5px 3px 3px 5px;
  border-radius: 95% 94% 97% 5%/0% 7% 6% 5%;
  justify-content: space-evenly;
  transition: 0.3s;
  z-index: 10;

  &:hover {
    background-color: $side-primary;
    opacity: 1;
    left: 0vw;
  }

  #heading {
    background-image: url("./images/cartoon-boom.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    height: 20vh;
    width: 28vw;
    @include flex-column;
    justify-content: center;

    h1 {
      padding: 8px;
      margin-left: 8px;
      font-size: 28px;
    }
  }

  a {
    font-size: 24px;
    text-align: center;
    color: $brand-font-color;
  }

  h2 {
    text-align: center;
  }

  .socials {
    @include flex-column;
    justify-content: space-evenly;
    font-size: 20px;
    height: 55%;
    width: 95%;
    color: $brand-font-color;
    border-radius: 5px;
    background-color: $nav-bar-background;

    &:visited {
      color: $brand-font-color;
    }

    a {
      font-size: 22px;
      transition: 0.3s;

      &:hover {
        @include odd-border;
        border: $basic-border;
      }

      span {
        @include even-border;
        border: $basic-border;
      }
    }

    div {
      @include flex-column;
      justify-content: space-evenly;
      margin: 3px;
      text-align: center;
      background-color: $nav-bar-background;

      a {
        font-size: 22px;
        margin: 3px;
        border: none;
      }
    }
  }
}

@media only screen and (min-width: 425px) {
  .side-bar {
    #heading {
      h1 {
        font-size: 32px;
      }
    }

    h2 {
      font-size: 32px;
    }

    .socials {
      a {
        font-size: 28px;
      }

      div {
        a {
          font-size: 32px;
        }
      }
    }
  }
}

@media only screen and (min-width: 725px) {
  .side-bar {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    transition: 0;
    z-index: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .side-bar {
    width: 20vw;

    #heading {
      width: 20vw;
      height: 22vh;

      h1 {
        font-size: 38px;
        margin-left: 16px;
      }
    }
  }
}

// ---> about me <---
#about-me {
  height: 100vh;
  width: 100vw;
  position: relative;
  text-align: center;

  #facts {
    margin: 0 auto;
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      color: rgba(247, 247, 247, 0.863);
      padding: $standard-padding;
      font-size: 30px;
      margin-top: $standard-margin * 3;
      letter-spacing: 0.03em;
    }

    .paper {
      background: #fff;
      padding: 30px;
      position: relative;
      width: 90%;
      height: 50%;
      margin-left: $standard-margin * 2;
      margin-bottom: $standard-margin * 3;
    }

    .paper,
    .paper::before,
    .paper::after {
      /* Styles to distinguish sheets from one another */
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
      border: 1px solid #bbb;
    }

    .paper::before,
    .paper::after {
      content: "";
      position: absolute;
      height: 95%;
      width: 99%;
      background-color: #eee;
    }

    .paper::before {
      right: 15px;
      top: 0;
      transform: rotate(-1deg);
      z-index: -1;
    }

    .paper::after {
      top: 5px;
      right: -5px;
      transform: rotate(1deg);
      z-index: -2;
    }

    #fact {
      height: 30%;
      font-size: 26px;
      margin: $standard-margin * 6 auto;
      transform: rotate(25deg);
      color: $brand-text;
    }

    #watermark {
      color: rgba(0, 0, 0, 0.082);
      margin: $standard-margin;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    #click {
      width: 45%;
      padding: 10px 15px;
      border-radius: 10px;
      border: 3px solid black;
      background: white;
      margin-left: $standard-margin;
    }
  }

  .peering {
    height: 30%;
    width: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    border-top-left-radius: 90%;
    border: 2px solid black;

    &:hover {
      cursor: pointer;
    }
  }
}

@media only screen and (min-width: 425px) {
  #about-me {
    #facts {
      #click {
        font-size: 20px;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  #about-me {
    width: 70vw;
    position: absolute;
    right: 0;
  }
}

@media only screen and (min-width: 1024px) {
  #about-me {
    width: 80vw;
    position: absolute;
    right: 0;

    #facts {
      h2 {
        font-size: 40px;
        margin: $standard-margin * 3 auto;
      }

      .paper {
        width: 80%;
        margin: auto;
        margin-bottom: $standard-margin * 10;
      }

      #fact {
        width: 70%;
        font-size: 30px;
        margin: $standard-margin * 10;
      }

      #click {
        width: 35%;
      }
    }

    .peering {
      width: 30%;
    }
  }
}

@media only screen and (min-width: 1100px) {
  #about-me {
    #facts {
      h2 {
        font-size: 48px;
      }

      .paper {
        width: 75%;
        margin-bottom: $standard-margin * 13;
      }

      #fact {
        width: 65%;
        font-size: 38px;
        margin: $standard-margin * 13;
      }

      #click {
        font-size: 30px;
      }
    }

    .peering {
      width: 25%;
    }
  }
}
//Blog and portfolio templates//

#bottom-half {
  margin: $standard-margin auto;

  #section1 {
    @include flex-column;
    width: 60vw;

    .card {
      height: 30vh;
      width: 100%;
      margin-bottom: $standard-margin;
      position: relative;
      background-color: black;

      h2 {
        position: absolute;
        color: $brand-text;
        top: 40%;
        text-shadow: 3px 2px black;
        margin-left: $standard-margin;
        letter-spacing: 0.05em;

        a {
          color: $brand-text;
          :hover {
            font-size: 16px;
          }
        }
      }

      img {
        height: 100%;
        width: 100%;
        @include odd-border;
        opacity: 70%;
        background-color: white;

        &:focus {
          opacity: 100%;
        }
      }
    }

    p {
      color: white;
      margin-bottom: $standard-margin;
    }
  }
}

@media only screen and (min-width: 425px) {
  #bottom-half {
    width: 70vw;

    #section1 {
      height: auto;
      width: auto;

      .card {
        margin: $standard-margin / 2;
        height: 30vh;
        width: 100%;
      }
    }
  }

  @media only screen and (min-width: 768px) {
    #bottom-half {
      width: 65vw;
      position: absolute;
      right: 0;

      #section1 {
        @include flex-row;
        height: auto;
        width: auto;
        flex-wrap: wrap;

        p {
          display: none;
        }

        .card {
          height: 40vh;
          width: 45%;
        }
      }
    }
  }

  @media only screen and (min-width: 768px) {
    #bottom-half {
      width: 70vw;
      position: absolute;
      right: 0;

      #section1 {
        @include flex-row;
        flex-wrap: wrap;

        p {
          display: none;
        }

        .card {
          height: 40vh;
          width: 45%;
        }
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    #bottom-half {
      width: 80vw;
      position: absolute;
      right: 0;

      #section1 {
        margin-top: $standard-margin * 14;
        .card {
          height: 30vh;
          width: 30%;
          margin: $standard-margin;
        }
      }
    }
  }

  //portfolio styles

  #portfolio-page {
    #section1 {
      img {
        background-color: rgb(185, 184, 184);
      }
    }
  }
}
