$basic-border: 2px solid #000000;
$standard-padding: 8px;
$standard-margin: 8px;
$brand-font-color: #1f1235;
$brand-color: #FBDD74;
$nav-bar-background:#f4effc;
$shadow: 2px 2px #a58cd1;
$side-primary: #8963BA;
$side-secondary: #FFD9DA;
$mobile-font: 20px;
$brand-text: #f5cb34;